.question-1 { 
	width: 800px;
	text-align: center;
}

.question-2 {
	top: 740px;
	left: 180px;
	width: 440px;
	text-align: center;
}

.question-3 {
	top: 1510px;
	left: 430px;
	width: 400px;
	text-align: center;
}

.question-4 {
	top: 1540px;
	left: 1600px;
	width: 400px;
	text-align: center;
}

.question-5 {
	left: 2185px;
	top: 660px;
	width: 460px;
	text-align: center;
	transform: rotate(-90deg) translateY(2.5em);
}

.question-5 .upside-down {
	text-align: center;
	transform: rotate(180deg) translateY(3em);
}

.question-6 {
	left: 2200px;
	top: -800px;
	width: 400px;
	text-align: center;
	transform: rotate(90deg) translateX(50px);
}

.question-7 {
	width: 475px;
	left: 1100px;
	top: -950px;
	text-align: center;
	transform: rotate(90deg) translateX(50px);
}
